.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: white;
  font-size: 16px;
  padding: 0 2rem;
  height: 4rem;
  position: fixed;
  width: calc(100% - 2rem);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.home-link {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  color: black;
  font-size: 16px;
  margin-left: 10px;
}

.auth-button {
  margin-right: 20px;
  background-color: rgb(140, 205, 147);
  border: none;
  height: 25px;
  padding: 0px 15px 0px 15px 0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
