.detail-container {
  margin: 70px auto;
  color: black;
}

.back-button {
  font-weight: 600;
  height: 20px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 12px;
  cursor: pointer;
}
